@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

/* --------- Global Style Sheet ---------*/

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  transition: 0.2s;
  cursor: pointer;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  
  body {
    width: 100%;
  }

  /* 

  background color  #E3E6F3

  green major #088178
  */

  /* Header Start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0,0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar svg{
 fill: #088178;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content: '';
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#cross,
#bagMb,
#bars,
.mobile-nav{
  display: none;
}
  /* Header End */

  #hero{
    background-image: url("images/hero4.png");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #hero h4{
    margin-bottom: 15px;
  }
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url('images/button.png');
    background-color: transparent;
    border: none;
    color: #088178;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* Hero End */
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0,0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom:10px ;
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    display: inline-block;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
/* Feature Section End */

#product1{
  text-align: center;
  
}
#product1 .pro-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#product1 .pro{
width: 23%;
min-width: 250px;
padding: 10px 12px;
border: 1px solid #cce7d0;
border-radius: 25px;
box-shadow: 20px 20px 30px rgba(0, 0,0, 0.02);
cursor: pointer;
margin: 15px 0;
transition: 0.2s ease;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0,0, 0.06);

}
#product1 img{
  width: 100%;
  border-radius: 20px;

}
#product1 .des{
 
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span 
{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;

}
#product1 .pro{
  position: relative;
}
.cart{
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50px;
background-color: #c8f6ea;
border: 1px solid #cce7d0;
padding: 8px;
position: absolute;
right: 10px;
bottom: 10px;

}



/* Product 1 End */


#banner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url(images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #fff;
  font-size: 16px;
}
#banner h2{
  color: #fff;
  font-size: 30px;
  margin: 10px 0;
}
#banner span{
  color: #ef3636;
}
#banner button:hover{
  background-color: #088178;
  color: #fff;
}

/* Banner End */
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box{
  display: flex;
  padding: 30px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url(images/banner/b17.jpg);
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}
#sm-banner .banner-box2{
  background-image: url(images/banner/b10.jpg);
}
#sm-banner h4{
  color: #fff;

font-size: 20px;
font-weight: 300;

}

#sm-banner h2{
  color: #fff;

font-size: 28px;
font-weight: 800;

}

#sm-banner span{
  color: #fff;

font-size: 14px;
font-weight: 500;
padding-bottom: 15px;

}
#sm-banner .banner-box:hover button{
  background-color: #088178;
  border: 1px solid #088178;
}
/* Sm-BAnner End */


#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box{
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url(images/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
#banner3 .banner-box2{
background-image: url(images/banner/b4.jpg);
}
#banner3 .banner-box3{
background-image: url(images/banner/b18.jpg);
}
#banner3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3{
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

/* Banner 3 End  */


#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(images/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter span{
  color: #ffbd27;
}
#newsletter .form{
  display: flex;
  width: 40%;
}
#newsletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  
}
#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

}

/* Newsletter End */
footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .col{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin-bottom: 8px;

}

footer a{
  font-size: 13px;
  margin-bottom: 10px;
 text-decoration: none;
 color: #222;
}
footer a:hover{
 color: #088178;
}
footer .icons svg{
  font-size: 18px;
  margin-right: 4px;
  fill: #222;
}
footer .install .pay img{
  border: 1px solid #088178;
  border-radius: 6px;
  }
  footer .intsall img{
    margin: 10px 0 15px 0;
  }
  footer .copyright{
    width: 100%;
    text-align: center;
  }
  footer .icons svg:hover{
    fill: #088178;
  }

  /* Home rgb(101, 36, 36) End */



  /* Tablet Responsive Start */
@media screen and (max-width:1024px) {
  body{
    overflow-x: hidden;
  }
#hero{
  background-position: top 25% right 30%;
}
#feature{
  flex-wrap: nowrap;
}
#product1 .pro-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;

}
#product1 .pro {
  width: 100%;
}
#banner{
  height: 30vh;
}
#sm-banner .banner-box{
  width: 100%;
  height: 40vh;
}
#banner3{
  align-items: center;
  justify-content: center;
}
#banner3 .banner-box{
width: 80%;
}
}
  /* Tablet Responsive End */

  /* Mobile Responsive Starts */
@media screen and (max-width:799px){
 html,body{
  overflow-x:hidden ;
 }
  #header{
    padding: 10px;
  }
  #navbar{
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 10px;
    height: 100vh;
    width: 300px;
    top: 0px;
    right: -2000px;
    box-shadow: 0px 40px 60px rgba(0, 0,0, 0.1);
    background-color: #E3E6F3;
    transition: 0.3s;
  }
  #navbar.active{

    right: 0px;
  }
  #header ul li{
    margin-bottom: 20px;
  }
  
#cross,
#bagMb,
#bars{
  display: inline;
}
.mobile-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
#bars{
  width: 25px;
  margin-right: 10px;
  fill: #088178;
}
#cross{
  width: 25px;
  margin: 30px 10px;
  fill: #088178;
}
#bagMb{
  width: 20px;
  margin-right: 15px;
  fill: #088178;
}
.section-p1 {
  padding: 40px 20px;
}
#hero{
  padding: 0px 20px;
}

#hero h1,
h1 {
  font-size: 36px;
  line-height: 64px;
}

h2 {
  font-size: 26px;
  line-height: 14px;
}

h4 {
  font-size: 16px;
}
#product1 .pro .des h5{
  font-size: 12px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 14px;
  margin: 15px 0 20px 0;
}

#feature{
  padding: 0px 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
}
#product1{
  padding: 30px 10px;
}
#product1 .pro-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
#product1 .pro{
  min-width: 100px;
  padding: 10px 12px;
  border-radius: 12px;
}
#product1 .pro img{
  
  border-radius: 10px;
}

#banner{
  height: 30vh;
}
#banner h2,
#sm-banner h2 {
  font-size: 20px;
  line-height: 34px;
}
#sm-banner .banner-box{
  min-width: 100%;
}
#banner h4 {
  font-size: 16px;
  color: #222;
}
#banner3{
  padding: 20px;
}
#banner3 h2 {
  font-size: 20px;
  line-height: 26px;
}
#newsletter .form {
width: 100%;
}
footer{
  display: grid;
  grid-template-columns: 1fr;
}

}
  /* Mobile Responsive Ends */